/* #region Reset */
a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

/* #endregion Reset */

/* #region Standart */

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding: 120px 0;
}

/* #endregion Standart */

/* #region Containers */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
.container {
    max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* #endregion Containers */

/* region Header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-nav-list, .header-contact {
    display: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
}

.header-nav-logo {
    padding: 16px 0;
    display: block;
}

.logo {
    color: #2e2f42;
}

.mob-menu {
    padding: 0;
    border: none;
    background-color: transparent;
}

.mob-menu-brg {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .mob-menu-brg {
        display: none;
    }
    .header-nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-contact {
        font-style: normal;
        display: block;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }
    
    .header-nav-logo {
        margin-right: 120px;
        padding: 24px 0
    }

    .header-nav-link:hover, .header-nav-link:focus, .mail-tel:hover,
    .mail-tel:focus {
            color: #404bbf;
    }

    .header-contact-list {
        flex-direction: column;
        gap: 12px;
        display: flex;
    }

    .mail-tel {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 1158px) {
    .header-nav-logo {
        margin-right: 76px;
    }

    .header-contact-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .mail-tel {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }
}

/* Mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-nav-link {
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    font-size: 36px;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-contact-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mobile-menu-mail-tel {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-link:hover,
.mobile-menu-nav-link:focus,
.mobile-menu-mail-tel:hover,
.mobile-menu-mail-tel:focus {
    color: #404bbf;
}

.btn-closed {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #2e2f42;
    background-color: #e7e9fc;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-closed:hover,
.btn-closed:focus {
    fill: #fff;
    background-color: #404bbf;
    border: none;
}

.mobile-menu-soc-list {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu-soc-list-item {
    width: 40px;
    height: 40px;
}

.mobile-menu-soc-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.soc-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* endregion Header */