/* #region Reset */
a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}
/* #endregion Reset */

/* #region Standart */

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

.container {
max-width: 1158px;
padding: 0 15px;
margin: 0 auto;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding: 120px 0;
}

/* #endregion Standart */

/* #region Header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
}

.header-nav-logo {
    margin-right: 76px;
    padding: 24px 0
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;}

.header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav-list-item {}

.header-nav-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link.current {
    position: relative;
    color: #404bbf;
}

.header-nav-link.current::after {
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.header-nav-link:hover, .header-nav-link:focus {
    color: #404bbf;
    }

.header-contact {
    font-style: normal;
    margin-left: auto;
}

.header-contact-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.mail-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-tel:hover, .mail-tel:focus {
    color: #404bbf;
}

/* #endregion Header */

/* #region Hero */
.hero {
    max-width: 1440px;
    margin: 0 auto;
    background: #2e2f42;
    padding: 188px 0;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-text {
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-btn {
    font-family: inherit;
    color: #fff;
    background: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
    display: block;
    border-radius: 4px;
    margin: 0 auto;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover, .hero-btn:focus {
    background-color: #404bbf;
    }
/* #endregion Hero */

/* #region Strategy */

.features {}

.features-hide {}

.features-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.strategy-list {
    display: flex;
    gap: 24px;
}

.features-list-item {
    width: calc((100% - 72px) / 4);
}

.features-container {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
}

/* #endregion Strategy */

/* #region Team */

.team-paragraph {
margin: 0 auto 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-logo {background: #fff;}

.team-member {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-specialty {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team {
    background-color: #f4f4fd;
}

.team-list-item {
    background: #fff;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 48px) / 3);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-info {
    padding: 32px 0;
}

.soc-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.soc-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-list-item:hover {
    background-color: #404bbf;
}

.soc-list-link:hover {
    background-color: #404bbf;
}

.soc-list-item:focus {
    background-color: #404bbf;
}

.soc-list-link:focus {
    background-color: #404bbf;
}

.soc-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon {
    fill: #f4f4fd;
}

/* #endregion Team */

/* #region Portfolio */

.portfolio-list {
    display: flex;
    gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}
        
.portfolio-title {
    line-height: 1.11;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    color: #2e2f42;
}
        
.portfolio-list-item {
    background: #fff;
    position: relative;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}
        
.portfolio-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
        
.portfolio-offer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}
        
.portfolio-info {
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
        
.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #f4f4fd;
    background-color: #4d5ae5;
    line-height: 1.5;
    padding: 40px 32px;
    transform: translateY(100%);
    letter-spacing: 0.02em;
    z-index: 2;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}
        
.portfolio-list-item:hover .portfolio-overlay {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}
        
.portfolio-img {
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
}
        
.portfolio-list-item:hover {
    z-index: 3;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* #endregion Portfolio */

/* #region Footer */

.footer-container {
    align-items: baseline;
    display: flex;
}

.end {
    background: #2e2f42;
    padding: 100px 0;
}

.end-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.end-logo-span {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    margin: 16px 0;
}

.end-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-logo {
    margin-right: 120px;
}

.footer-soc {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px
}

.footer-soc-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
}



.soc-media {
    width: 208px;
    height: 80px;
}

.footer-soc-list {
    display: flex;
    gap: 16px;
    padding-left: 0;
}

.footer-soc-list-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-soc-list-link:hover {
        background-color: #31d0aa;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.footer-soc-list-link:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail {
    margin-left: 80px;
}

.footer-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.form-footer {
    display: flex;
    gap: 24px;
}

.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.footer-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.form-icon {
    margin-left: 16px;
    fill: #fff;
}

.footer-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

/* #endregion Footer */

/* #region Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-closed {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #2e2f42;
    background-color: #e7e9fc;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-closed:hover, .btn-closed:focus {
    fill: #fff;
    background-color: #404bbf;
    border: none;
}

.modal-txt {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-container-block {
    margin-bottom: 8px;
}

.modal-form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-form-input-content {
    position: relative;
    margin-bottom: 8px;
}

.modal-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border: 1px solid #4d5ae5;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: #2e2f42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form-icon {
    fill: #4d5ae5;
}

.btn-send {
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send:hover,
.btn-send:focus {
    background-color: #404bbf;
}

.modal-container-coment {
    margin-bottom: 16px;
}

.modal-coment {
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    border-radius: 4px;
    width: 360px;
    height: 120px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-coment::placeholder {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-coment:focus {
    border: 1px solid #4d5ae5;
    outline: transparent;
}


.modal-chekbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    cursor: pointer;
    border-radius: 4px;
    width: 360px;
    height: 120px;
}

.modal-chekbox-custom {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-chekbox-ok:checked+.modal-chekbox .modal-chekbox-custom {
    background-color: #404bbf;
    border: transparent;
    fill: #f4f4fd;
}

.modal-chekbox-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-container-block-checkbox {
    margin-bottom: 24px;
}

/* #endregion Modal */